<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="vsts-feed" value="https://pkgs.dev.azure.com/whyse/_packaging/WhyseFeed/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <vsts-feed>
      <add key="Username" value="foo" />
      <add key="ClearTextPassword" value="6opdjk2pohvhejhqjpj6ya4um7cyvthxkdob3gvvmrlmfblvqnia" />
    </vsts-feed>
  </packageSourceCredentials>
</configuration>